.first__points {
    position: absolute;
    top: 505px;
    left: 1302px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 69px;
    height: 9px;
}

@media (max-width: 1880px) {
    .first__points {
        top: 563px;
        left: 200px;
        width: 57px;
        height: 5px;
    }
  }