.advantages__title {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #292D32;
    margin: 0 0 37px;
}

@media (max-width: 1880px) {
    .advantages__title {
        font-size: 30px;
        margin: 0 0 20px;
    }
  }