.news__date-day {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #292D32;
    margin: 0;
    padding: 24px 0 0;
    text-align: center;
}

@media (max-width: 1880px) {
    .news__date-day {
        font-size: 18px;
        line-height: 13px;
        padding: 21px 0 0;
    }
  } 