.catalog__subtitle {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #838383;
    margin: 0 0 46px;
    width: 372px;
}

@media (max-width: 1880px) {
    .catalog__subtitle {
        font-size: 15px;
        margin: 0 0 30px;
    }
  }